<% include("partials/header") %>

<h1>Lease Dates</h1>

<form action="/agent-management/setPropertyDate" method='POST'>
    <label for="startDate">Start:</label><br>
    <input type="date" id="startDate" name="startDate" required><br>
    <label for="endDate">End:</label><br>
    <input type="date" id="endDate" name="endDate" required><br><br>
    <input type="submit" value="Submit">
</form> 
  
      
<% include("partials/footer") %>    
  