<% include("partials/header") %>

<h1>Lease Dates</h1>

<form action="/input post route here" method='POST'">
    <label for="startDate">First name:</label><br>
    <input type="date" id="sDate" name="sDate" value="Start Date"><br>
    <label for="endDate">Last name:</label><br>
    <input type="date" id="eDate" name="eDate" value="End Date"><br><br>
    <input type="submit" value="Submit">
</form> 
  
      
<% include("partials/footer") %>    
  