<% include("partials/header") %>
<h1> Welcome to Roommee </h1>
<h3><i>Developed by Paradigm</i></h3>

<form action='/login-homepage/10001' method = 'GET'>
    <button>Login</button>
</form>
<form action='/user-profile/new' methpd = 'GET'>
    <button>Sign up</button>
</form>
<% include("partials/footer") %>