<% include("partials/header") %>

        <h1>List Of Utilities</h1>
        <% utils.map((utils) => { %>
            <h4>Company Name: <%= utils.companyName%></h4>
            <h4>Utility: <%= utils.utility%> </h4>
            <h4>Company Location: <%= utils.companyLocation%></h4>  

            <form action="utils-management/chooseUtils/<%=utils.companyID%>" method='POST'>
                <button>Choose</button>
            </form>
        <% }) %>
      
      
<% include("partials/footer") %>    
    